html, body {
    margin: 0;
    padding: 0;
}

.card__container {
    width: 100%;
    max-width: 1200px;
    display: flex;
    margin:auto;
    flex-wrap: wrap;
    gap: 10px;
}

.card__brand__container {
    display: flex;
    flex-wrap: wrap;
    justify-content:flex-start;
    gap: 10px;
    align-items: flex-start;
}